header {
    background-color: #141b25;
}
.navbar {
    height: 90px;
}
.logo {
    color: white;
    line-height: 90px;
    font-size: 30px;
    text-decoration: none;
    margin-left: 30px;
    font-family: "AstroSpace", sans-serif;
    transition: all 0.35s linear 0s;
}
.logo:hover {
    color: rgb(128, 121, 191);
}
.links {
    list-style: none;
    float: right;
    line-height: 90px;
    margin: 0;
    padding: 0;
}
.links li {
    display: inline-block;
    margin: 0 20px;
}
/*Below is the 'Create A Post' button styling*/
.links li a.create {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.35s linear 0s;
    background-color: rgb(106, 90, 255);
    padding: 9px 20px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
}
.links li a.create:hover {
    background-color: #047e85;
    color: white;
    border-bottom: none;
}
/*Below is the 'Your Feed' button styling*/
.links li a.feed {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.35s linear 0s;
    padding-bottom: 6px;
    font-family: 'Montserrat', sans-serif;
}
.links li a.feed:hover {
    color: rgb(128, 121, 191);
    padding-bottom: 6px;
}
.menu-btn {
    color: white;
    font-size: 25px;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#isChecked {
    display: none;
}

@media (max-width: 1000px) {
    .title1 {
        display: none;
    }
    .title2 {
        display: none;
    }
}
@media (max-width: 800px) {
    .links {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        background: #222831;
        padding-top: 20px;
        right: -100%;
        transition: all 0.5s;
        z-index: 10;
    }
    .links li {
        display: block;
    }
    .links li a {
        font-size: 20px;
    }
    .menu-btn {
        display: block;
    }
    #isChecked:checked~.links {
        right: 0;
    }
}
@media (max-width: 350px) {
    .logo {
        margin-left: 10px;
        font-size: 25px;
    }
    .menu-btn {
        margin-right: 15px;
        font-size: 25px;
    }
}
.label {
    background: #111;
    display: block;
    border-radius: 50px;
    width: 50px;
    height: 26px;
    padding: 5px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
}
.ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
}
.title1 {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    background-color: #212c3b;
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 11%;
    /* transform: translate(-50%, -50%); */
    opacity: 0.8;
}
.title2 {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    background-color: #212c3b;
    padding: 10px;
    position: absolute;
    top: 20%;
    right: 10%;
    /* transform: translate(-50%, -50%); */
    opacity: 0.8;
}
.info1 {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    background-color: #212c3b;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 8%;
    /* transform: translate(-50%, -50%); */
    opacity: 0.8;
}

.info2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    background-color: #212C3B;
    padding: 10px;
    position: absolute;
    top: 50%;
    right: 3%;
    /* transform: translate(-50%, -50%); */
    opacity: 0.8;
}

.info {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    background-color: #212c3b;
    padding: 10px;
    position: relative;
    top: 300px;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    opacity: 0.8;
    bottom: auto;
}
.image {
    /* width: 100vw;
    object-fit:cover; 
    padding-bottom: 0px;  */
    float: left;
    width: 50%;
} 