@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('Fonts/GTWalsheimPro-Black.ttf');
}

@font-face {
    font-family: 'Italic Header';
    src: url('Fonts/GTWalsheimPro-BlackOblique.woff2');
}

.title {
    font-family: 'GT Walsheim Pro';
    color: white;
    font-size: calc(4vw + 4vh + 2vmin);
    text-align: center;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title:hover {
    cursor: pointer;
}

.intro {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 816px;
    padding: 100px 0;
  }
  
  
  .center {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 80px;
  }
  
  .intro__wrap {
    position: relative;
    z-index: 1;
    max-width: 450px;
    text-align: center;
  }
  
  .header {
    font-family: 'GT Walsheim Pro';
    font-size: 64px;
    line-height: 1;
    letter-spacing: -.02em;
    margin-bottom: 32px;
    color: #ffffff;
  }

  .header:hover {
    cursor:pointer;
  }
  
  .text {
    font-family: 'GT Walsheim Pro';
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.3333;
    color: #ffffff;
  }

  .text:hover {
    cursor: pointer;
  }
  
  .buttons {
    margin-right: 6px;
  }
  
  .button {
    font-family: 'GT Walsheim Pro';
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    background: #ff5a2c;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #FCFCFD;
    transition: all .5s;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #467482;
  }
  
  
  .button:not(:last-child) {
    margin-right: 16px;
  }
  
  .login {
    background: none;
    color: #ffffffb7;
    box-shadow: 0 0 0 2px #e6e8ec inset;
  }
  
  .login:hover {
    background: #9a9a9a;
  }
  
  .watch {
    margin: auto auto;
    width: 500px;
    height: 500px;
  }
  
  @media only screen and (max-width: 525px) {
    .watch {
      width: 400px;
      height: 400px;
    }
  }
  
  @media only screen and (max-width: 420px) {
    .watch {
      width: 300px;
      height: 300px;
    }
  }
  
  
  
  
  @media only screen and (max-width: 767px) {
    .button:not(:last-child) {
      margin: 0 0 16px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .button {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .buttons {
      display: block;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .button {
      width: 100%;
      padding: 0;
    }
  }
  
  @media only screen and (max-width: 1023px) {
    .center {
      padding: 0 40px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .center {
      padding: 0 32px;
    }
  }
  
  
  @media only screen and (max-width: 1023px) {
    .header {
      font-size: 48px;
      line-height: 1.16667;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .intro {
      min-height: auto;
      padding: 64px 0 152px;
      display: block;
    }
  }
  
  @media only screen and (max-width: 1179px) {
    .intro {
      min-height: 600px;
      padding: 80px 0;
    }
  }
  
  @media only screen and (max-width: 1023px) {
    .intro__wrap {
      max-width: 360px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .intro__wrap {
      max-width: 100%;
      margin-bottom: 80px;
    }
  }
  
  @media only screen and (max-width: 1023px) {
    .header {
      font-size: 48px;
      line-height: 1.16667;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .tagline {
      font-size: 12px;
    }
  }